.units {
    display: flex;
    flex-direction: column;
}

.user-units {
    font-size: 23px;
    color: white;
    text-align: center;
}

.join-unit-dropdown {
    max-width: 50%;
    background-color: blue;
    
}

.no-units-found {
    color: white;
    font-weight: bold;
}

.unit-search {
    /* width: 10px; */
    margin: 10px;
    /* border-radius: 0px; */
    border: 1px solid black;
}

.join-unit-toggle {
    
}