.password-feedback-list {
    display: grid;
    gap: 0px;
}

.password-feedback {
    display: grid;
    font-size: 14px;
    font-weight: bold;
}

.password-valid {
    color: green;
}

.password-invalid {
    color: red;
}