.fra-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fra-item {
    background-color: grey;
}

.fra-selected-high {
    background-color: yellow;
}

.fra-selected-low-mod {
    background-color: orange;
}