.fra-container {
    display: flex;
    flex-direction: column;
}

.fra-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fra-selections {
    display: flex;
    flex-direction: row;
}

.fra-item {
    background-color: grey;
}

.fra-selected-true {
    background-color: forestgreen;
}

.fra-selected-false {
    background-color: maroon;
}