.stepper-buttons {
    display: flex;
    flex-direction: row;
    justify-self: stretch;
    justify-content: stretch;
}
button {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}
.save-audit {
    background-color: #F8CB2E;
    color: white;
    border: none;
    bottom: 0;
    align-self: center;
}

.room-name {
    font-size: 28px;
    font-family: 'Work Sans';
    font-weight: bold;
    margin-bottom: 20px;
}