.audit-room {
    display: flex;
    flex-direction: column;
    height: 60vh;
    border: 1px solid red;
}

.room-name {
    text-align: center;
    border: 1px solid red;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.audit-questions {
    margin: 20px 0px;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid green;
    height: 100%;
}

.decrement-question {
    background-color: white;
    border: none;
    text-align: left;
}

.increment-question {
    background-color: white;
    border: none;
    text-align: right;
    justify-self: flex-end;
    align-self: flex-end;
}

button {
    border: none;
}